
// [ GENERAL ]
html { font: $font; font-weight: $f-normal; }
body {
    background: $black;
    color: $white;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

a { 
    color: $white;
}

svg.bg-img {
    fill: $white !important;
    opacity: 0.05;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}